<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Out of Ten", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
      </ul>
      <form class="navbar-form navbar-right">

      <% if user_signed_in? %>
        <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-default" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default" %> 
      <%else%>
        <%= link_to "Login", new_user_session_path, class: "btn btn-default" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
      <%end%>
      
        <div class="form-group" role= "search">
          <input type="text" class="form-control" placeholder="Search Out of Ten">
        </div>
        </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>